*.png
*.pdf
*.gif
*.pkl
*.pyc

.ipynb_checkpoints/

*.egg-info
PKG-INFO

videos/
build/
logs/
results/
notebooks/external/
notebooks/internal
data/
models/

.venv
.vscode

.ruff_cache/

__pycache__

*.lock
uv.lock

unsloth_compiled_cache
